@import 'tailwindcss';

body {
	background-color: #000;
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: rgb(155, 207, 255);
	text-decoration: underline;
	text-underline-offset: 4px;
}
